@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.loader {
    width: 50px;
    height: 50px;
    background-color: #8280F2;
    border-radius: 50%;
}

.truncate-line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-dot-list-style {
    bottom: 10px !important;
}